<div class="container">
    <div class="card bg-light fondo">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Aún no está registrado</h4>
            <p class="text-center">Regístrese para poder ingresar a la plataforma de películas</p>
            <p class="divider-text">
                <span class="bg-light">AQUÍ</span>
            </p>
            <form (submit)="validate()">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-id-card"></i> </span> 
                    </div>
                        <input [(ngModel)]="DatosUser.name" name="name" class="form-control" placeholder="Nombre completo" type="text" required autofocus>
                    </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input [(ngModel)]="DatosUser.user" name="user" class="form-control" placeholder="Usuario" type="text" required autofocus>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input [(ngModel)]="DatosUser.pass" name="pass" class="form-control" placeholder="Contraseña" type="text" required autofocus>
                </div>                               
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Crear cuenta
                    </button>
                </div> <!-- form-group// -->      
                <p class="text-center">¿Ya tiene una cuenta? <a href="">Entrar</a> </p>                                                                 
            </form>
        </article>
    </div> <!-- card.// -->
</div> 
    <!--container end.//-->
    
