.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border: 2px solid #E7B0B0; /* red */
  }
  
  .btn-ttc,
  .btn-ttc:hover,
  .btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007da7;
  }
  
  .divider-text {
      position: relative;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .divider-text span {
      padding: 7px;
      font-size: 12px;
      position: relative;   
      z-index: 2;
  }
  .divider-text:after {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px solid #ddd;
      top: 55%;
      left: 0;
      z-index: 1;
  }
  
  .btn-facebook {
      background-color: #405D9D;
      color: #fff;
  }
  .btn-twitter {
      background-color: #42AEEC;
      color: #fff;
  }
  /* boton sai */
  .btn-sai {
      color: #fff;
      background-color: #405D9D;
      border-color: #405D9D;
    }
    
    .btn-sai:hover {
      color: #fff;
      background-color: #405D9D;
      border-color: #405D9D;
    }
    
    .btn-sai:focus, .btn-success.focus {
      color: #fff;
      background-color: #405D9D;
      border-color: #405D9D;
      -webkit-box-shadow: 0 0 0 0.2rem #405D9D;
              box-shadow: 0 0 0 0.2rem #405D9D;
    }
     
    .btn-sai.disabled, .btn-success:disabled {
      color: #fff;
      background-color: #405D9D;
      border-color: #405D9D;
    }
    
    .btn-sai:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
    .show > .btn-success.dropdown-toggle {
      color: #fff;
      background-color: #405D9D;
      border-color: #405D9D;
    }
    
    .btn-sai:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem #405D9D;
              box-shadow: 0 0 0 0.2rem #405D9D;
    }
    
    /* fin boton sai */
  
    h4{
      font-family: 'Comfortaa', cursive;
      color: #405D9D;
    }
    p{
      font-family: 'Comfortaa', cursive;
    }

    .fondo{
      width: 100%;
      height: 100%;
      background-image: url("../../../assets/images/pexels-freestocksorg-133070.jpg");
      -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .container{
      height: 800px;
      width: 100%;
    }