<div class="col-12">
    <app-navigation></app-navigation>
</div>
<div class="col-md-4 offset-md-2 mt-4">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <input type="text" name="name" [(ngModel)]="film.name" placeholder="name" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <textarea name="description" [(ngModel)]="film.description" rows="2" placeholder="description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="url" name="imageURL" [(ngModel)]="film.imageURL" placeholder="imageURL" class="form-control">
          </div>
          <button class="btn btn-success btn-block" (click)="saveNewFilm()">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 mt-4">
    <div class="card card-body text-center">
    <img [src]="film.imageURL == '' ? '/assets/images/noimage.png' : film.imageURL" alt="No Image" class="card-img-top">
      <h3>{{film.id}}. {{film.name == '' ? 'Film Name' : film.name}}</h3>
      <p>{{film.description == '' ? 'Write your Descrition' : film.description}}</p>
    </div>
  </div>
