<div class="fondo">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header text-center" >
                        <label class="justify-content-center">THE FILMS</label> 
                    </div>
                    <div class="card-body">
                        <form (submit)="validate()">
                            <div class="form-group">
                                <img class="image-login width='20px'" [src]="'assets/images/film.jpg'" class="img-fluid" alt="Responsive image">
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="userData.user" name="user" class="form-control" placeholder="Enter your user"  required autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="userData.pass" name="pass" class="form-control" placeholder="Enter your pass"  required autofocus>
                            </div>
                            <button class="btn btn-primary btn-block">
                                INGRESAR
                            </button>
                            <div class="mt-3">
                                <a href="" [routerLink]="['/signUp']">Sign Up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>