.fondo{
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/pexels-skitterphoto-390089.jpg");
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .container{
    height: 900px;
    width: 100%;
  }