<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">FIMLS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/films" routerLinkActive="active"><i class="fas fa-film"></i> Películas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/films/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Añadir nueva</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="authService.loggedOut()"><i class="fas fa-sign-out-alt"></i> Salir</a>
        </li>
      </ul>
    </div>
  </nav>