<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <app-navigation></app-navigation>
    </div>
  </div>
  <div class="row fondo mt-4">
    <div class="col-md-4 mt-4" *ngFor="let film of films">
      <div class="card text-center p-12">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          {{film.name}}
        </div>
        <img class="card-img-top" [src]="film.imageURL">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p>{{film.description}}</p>
              <p>Creada el {{film.createdAt | date: 'yyyy-MM-dd'}}</p>
            </div>
          </div>
            <div class="row">
              <div class="col-12">
                <p>Calificar:</p>
                <span class="fa fa-star estrella" id="1e" (click)="calificacion(1)"></span>
                <span class="fa fa-star estrella" id="2e" (click)="calificacion(2)"></span>
                <span class="fa fa-star estrella" id="3e" (click)="calificacion(3)"></span>
                <span class="fa fa-star estrella" id="4e" (click)="calificacion(4)"></span>
                <span class="fa fa-star estrella" id="5e" (click)="calificacion(5)"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <p><textarea name="mensaje" placeholder="Comparte tu opinión con el autor!" style="width: 90%;"></textarea></p>
                <p><input type="submit" value="Enviar mensaje" class="btn btn-info btn-block"></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
