.fondo{
    background-image: url("../../../assets/images/film.jpg");
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .estrella{
    cursor: pointer;
  }